*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    font-size: 62.5%;
  }
  
  body {
    font-size: 1.6rem;
    font-family: 'Ibarra Real Nova', serif;
  }
  
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}  
.wrapper {
    width: 80rem;
    margin-left: 5rem;
    height: 80rem;
}
img{
    height: 5rem;
    width: 8rem;
}

.content {
    display: flex;
    line-height: 2.5rem;
}

.main-content {
    width:65%
}
.side-content{
    width: 29%;
    margin-left: 3rem;
}

a{
    color:rgb(7, 204, 204)
}

footer{
    text-align: center;
    height: 10rem;
    background-color: rgb(243, 243, 243);
    line-height: 10rem;
    color:rgb(153, 138, 120)
}

.btn-group input{
    border-radius: 5rem;
    width: 10rem;
    height: 3rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    background-color: white;
    
}

.btn-lighter{
    color:rgb(7, 204, 204);
    border:1px solid rgb(7, 204, 204);
}

.btn-grey{
    color:rgb(138, 133, 133);
    border:1px solid rgb(138, 133, 133);
}

h1,h2{
   margin:1.2rem 0;
}

.content-date{
    color:rgb(139, 130, 118);
    margin:0.5rem 0;
}

hr{
    margin:1rem 0;
    color:rgb(139, 130, 118);
}

.content-border{
    border:1px solid rgb(139, 130, 118);
    margin:1rem 0;
}

ul,ol{
   padding-left: 4rem;
   margin: 1rem 0;
}

.side-content-about{
    background-color:rgb(232, 255, 248);
    padding:1.5rem 1rem
}
